
* {
  box-sizing: border-box;
}

body {
    background-color: black;
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
              url('pexels-roman-friptuleac-166600420-10916183.jpg') ; */
  object-fit: cover;
  background-position: center;
  background-size: cover;
  color: #fff;
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
h1{
    top: 150px;
    text-align: center;
    font-size: 30px;
    margin-inline:30px;
}
.outerDiv{
    height: 60%;
    width: 60%;
    background-color: #06f00e;
}
.containerMain{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(255,255,255,0.7);
    margin-inline: 30px;
    height: 200px;
    border-radius: 10px;

}
.container-elm{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    gap: 20px;
}
.container-elm button{
    color: rgb(237, 213, 163);
    border: 1px solid ;
    padding: 10px 20px;
    background-color: rgb(42, 38, 37);
    font-weight: 600;
    border-radius: 10px;
    border: none;
}
.container-elm button:hover{
    transform: scale(1.1);
    transition: 0.2s ease;
    cursor: pointer;

    
}


.container-elm button {
    animation: none; 
    transition: background-color 0.3s ease;
}

.container-elm button:active {
    animation: flashEffect 0.3s ease;
}

@keyframes flashEffect {
    0% {
        background-color: rgb(42, 38, 37);
    }
    50% {
        background-color: rgba(245, 245, 252,0.2);
        transform: scale(0.7);
    }
    100% {
        background-color: rgb(42, 38, 37);
    }
}



.container-elm button:active.nothing {
    animation: vibrate 0.3s ease;
}

@keyframes vibrate {
    0% {
        transform: translateX(0); 
    }
    25% {
        transform: translateX(-5px); 
    }
    50% {
        transform: translateX(5px); 
    }
    75% {
        transform: translateX(-5px); 
    }
    100% {
        transform: translateX(0); 
    }
}

.container-elm input{
    background-color: rgb(42, 38, 37);
    border: none;
    padding: 10px;
    font-size: 30px;
    width: 72%;
    color: #fff;
    border-radius: 5px;
}
.container-elm input:focus{
    outline: none;
}



.result{
    background:rgba(255,255,255,0.7);
    color: black;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    visibility: hidden;
}




.result.blink{
    animation:  blinkEffect 0.5s alternate infinite;
}
@keyframes blinkEffect{
    0% {
        background-color: #06f00e;
        color: rgb(151, 149, 149);
    }
    100% {
        background-color: #eff3ee;
        color: rgb(11, 11, 11);
    }
}



.result.red{
    animation: blinkred 0.5s alternate infinite;
}
@keyframes blinkred{
    0% {
        background-color: #f1200e;
        color: rgb(242, 235, 235);
    }
    100% {
        background-color: #f7f6f5;
        color: rgb(8, 8, 8);
    }
}







@media screen and (max-width:650px){
    .container-elm{
        flex-direction: column;
    }
}























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































